# The port number your application will run on
PORT=5000

# Connection string for your MongoDB database
# Format: mongodb://<host>:<port>/<database-name>
MONGO_URI=mongodb://127.0.0.1:27017/kgl

# Secret key used for signing and verifying JWT tokens
# Replace this with a strong, unique value in production
JWT_SECRET= oogNGVc!3xy(KgcD
